html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c1622;
}

.navbar {
    background-color: #261219;
}

#navigation {
    position: absolute;
    bottom: 150px;
    right: 350px;
    align-self: flex-end;
    margin-top: 20px;
}

.hide {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    width: 50%;
}

.row.d-flex {
    padding-top: 15px;
}

label, input {
    margin-right: 10px;
}

label {
    font-size: large;
}

.form-check-label {
    padding: 0 10px;
}

input[id^="option"]:checked + label {
    font-weight: 550;
    color: black;
    background-color: #8B9A46;
    border-radius: 10px;
}

input[id^="option"]:checked + label > .bi-check-circle { 
    /* the icon is darker if the correct option is selected, so that it is clearly visible */
    color: var(--bs-success-border-subtle);
}

.bi-check-circle {
    transform: scale(1.05);
    color: var(--bs-success);
}

.bi-x-circle {
    transform: scale(1.1);
    color: var(--bs-danger-border-subtle);
}

#end-game {
    padding: 10px;
    border: #4a5a04 solid;
    border-radius: 5px;
}

.table {
    width: 500px;
    align-self: center;
}

#currentPlayer {
    --bs-table-bg: #47203a;
    background-color: var(--bs-table-bg);
    font-weight: bold;
}

#currentPlayer:hover {
    --bs-table-hover-bg: #53424C;
    background-color: var(--bs-table-hover-bg);
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}