html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c1622;
}

.navbar {
    background-color: #261219;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #8B9A46;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#navigation {
    align-self: flex-end;
    margin-top: 20px;
}

.hide {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    width: 50%;
}

.row.d-flex {
    padding-top: 15px;
}

.fa-chevron-left {
    margin-right: 10px;
}

.fa-chevron-right {
    margin-left: 10px;
}

label, input {
    margin-right: 10px;
}

label {
    font-size: large;
}

.form-check-label {
    padding: 0 10px;
}

input[id^="option"]:checked + label {
    font-weight: 550;
    color: black;
    background-color: #8B9A46;
    border-radius: 10px;
}

input[id^="option"]:checked + label > .bi-check-circle { 
    color: var(--bs-success-border-subtle);
}

.bi-check-circle {
    transform: scale(1.05);
    color: var(--bs-success);
}

.bi-x-circle {
    transform: scale(1.1);
    color: var(--bs-danger-border-subtle);
}