html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c1622;
}

.navbar {
    background-color: #261219;
}

/* loader styling */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #8B9A46;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* end of loader styling */

#navigation {
    position: absolute;
    bottom: 150px;
    right: 350px;
    align-self: flex-end;
    margin-top: 20px;
}

.hide {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    width: 50%;
}

.row.d-flex {
    padding-top: 15px;
}

label, input {
    margin-right: 10px;
}

label {
    font-size: large;
}

.form-check-label {
    padding: 0 10px;
}

input[id^="option"]:checked + label {
    font-weight: 550;
    color: black;
    background-color: #8B9A46;
    border-radius: 10px;
}

input[id^="option"]:checked + label > .bi-check-circle { 
    /* the icon is darker if the correct option is selected, so that it is clearly visible */
    color: var(--bs-success-border-subtle);
}

.bi-check-circle {
    transform: scale(1.05);
    color: var(--bs-success);
}

.bi-x-circle {
    transform: scale(1.1);
    color: var(--bs-danger-border-subtle);
}

#end-game {
    padding: 10px;
    border: #4a5a04 solid;
    border-radius: 5px;
}

.table {
    width: 500px;
    align-self: center;
}

#currentPlayer {
    --bs-table-bg: #47203a;
    background-color: var(--bs-table-bg);
    font-weight: bold;
}

/* When next question is going to be displayed, the previouly answered question slides out to the left */
.slide-out-left {
	-webkit-animation: slide-out-left 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: slide-out-left 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
}
@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
}

/* flicker effect when the leaderboard appears at the end of the game */

.flicker-in-2 {
	-webkit-animation: flicker-in-2 2s linear both;
	animation: flicker-in-2 2s linear both;
}

@-webkit-keyframes flicker-in-2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    10.1% {
        opacity: 1;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    10.2% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    20% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    20.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    30% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    30.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    45% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    45.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    57% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    57.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60.1% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    65% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    65.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    77% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    77.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    86% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    86.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}
@keyframes flicker-in-2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    10.1% {
        opacity: 1;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    10.2% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    20% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    20.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    30% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    30.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    45% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    45.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    57% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    57.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
    }
    60.1% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    65% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    65.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    77% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    77.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    86% {
        opacity: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    86.1% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
        opacity: 1;
        -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}